.header-main{
    display: flex;
    justify-content:space-between;
    padding: 8px;
    align-items: center;
    border: 2px solid;
}

.logo{
    width: 100px;

}
.nav-element-ul{
    display: flex;
    gap: 50px;
}
ul {
    list-style-type: none;
}
.card-main {
    margin-top: 10px;
    display: flex;
    /* border: 1px black solid; */
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap; /* Allow cards to wrap */
  }
  
  .card {
    width: calc(20% - 20px); /* Adjust card width with margins */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h1 {
    margin-bottom: 10px;
  }
  
  .card button {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(235, 163, 28);
    color: white;
  }
  
  button:hover {
    background-color: rgba(215, 157, 51, 0.805);
  }

  .search-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
/* Shimmer Ui  Element */
.shimmer-card{
  width: 300px;
  height: 300px;
  background-color: rgb(202, 198, 198);
}